.Header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .back-img {
        max-width: 100vw;
        min-width: 100vw;
        max-height: 65vh;
        min-height: 65vh;
        object-fit: cover;
    }

    .side-buttons {
        padding-right: 7vw;
        position: absolute;

        .volume,
        .play {
            margin: 20px 0;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(13px);

            .icon {
                color: white;
                font-size: 2.5vw;
            }
        }
    }
}